<HTML>

<body class="intro-header" style="background-size: cover;
        background-image: url({{ url_for('static', filename='background5.png') }})">
</body>

<BODY>
<form method="post" action="">
    <center> <header><font size="48"> Baylor Journalism </font></header>
        Option <input type="radio" name="option" id="student" value="student"> student </input>
                       <input type="radio" name="option" id="intern" value="intern"> intern </input>

    <input type="submit" name="submit_button" value="submit"> </center>
</form>
</BODY>
</HTML>