<doctype html>
  <center>
<head>
    <title>Student Search</title>
</head>
 
<h2>Student Search</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method=post>

  <dl>

    {{form.select.label}}
    {{ form.select}}
    <p>
      {{form.search.label}}
      {{ form.search}}
  </dl>


  <p><input type=submit value=Search>
</form>
    </center>
</doctype>